<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sentiment Analysis</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>
      <div class="header">
        <img src="{{url_for('static',filename='sentiment-analysis.png')}}" alt="snist" height="200px">
        <h1>SENTIMENT ANALYSIS</h1>
      </div>
      <form method="POST", action="{{url_for('home')}}">
        <div class="linkenter">
          <textarea type="text" name="textData" id="bloglink" cols="70" rows="4" placeholder="Enter The Sentiment to be Analysed"></textarea>
          <!-- <input type="text" name="textData"  placeholder="Enter The Sentiment to be Analysed"> -->
          <br>
          <br>
          <div class="d-grid gap-2 col-md-2 mx-auto">
            <input class="btn btn-dark" type="submit" , value='Analyze' >
          </div>

      </div>
      </form>

      <div class="summary">
          <p class="sp">{{result}}</p>
      </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>